fastapi[all]

sqlalchemy==2.0.44 # Python - DB Layer Abstraction (ORM)
psycopg2-binary==2.9.11 # Database Driver
psycopg2==2.9.11 # Database Driver

pydantic==2.12.4 # Validation  
pydantic-settings==2.12.0 # Configuration Settings

alembic==1.17.2 # DB Migration Tool
supabase==2.24.0 # File Storage

testcontainers[postgres]==4.13.3 # PyTest Dependencies
pytest==9.0.1 # Testing Tool

httpx==0.28.1 # HTTP Client
openai==2.8.1 # LLM
PyPDF2==3.0.1 # PDF to Text