    name: CI with Pytest and Testcontainers

    on:
      push:
        branches:
          - main
      pull_request:
        branches:
          - main

    jobs:
      test:
        runs-on: ubuntu-latest
        env:
          DATABASE_URL: "http://www.example.com"
          PRODUCTION: "false"
          SUPABASE_URL: "http://www.example.com"
          SUPABASE_KEY: "test"
          ADMIN_USERNAME: "admin"
          ADMIN_PASSWORD: "test"
          RESEND_API_KEY: "test"
          OPENAI_API_KEY: "test"
          IS_CI: "true"
        steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: '3.14.0'

        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt

        - name: Run Pytest
          run: pytest